<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Home Controller</title>
</head>
<body>
    <h1>Smart Home Controller</h1>
    <hr>
    <h2> 
	    Outside Temperature: {{ data['apiTemp'] }}
    </h2>
    <h2>Commands</h2>
    
    <form action={{ url_for('fanPub') }} method="post">
        <label for="value">Fan:</label>
        <input type="radio" id="off" name="fanstate" value="OFF">
			<label for="off">Off</label>
			<input type="radio" id="on" name="fanstate" value="ON">
			<label for="on">On</label>
			<br>
			<label for="door">Door:</label>
			<input type="radio" id="open" name="door" value="open">
			<label for="open">Open</label>
			<input type="radio" id="close" name="door" value="close">
			<label for="label">Close</label>
			<br>
			<br>
        <button type="submit">Submit</button>
    </form>
	
	<hr>
	<h2>PIR Sensor</h2>
    <form action={{ url_for('setColor') }} methods="post">
		<label for="rVal">R</label>
		<input type="text" id="rVal" name="rVal">
		<div/>
		<label for="gVal">G</label>
		<input type="text" id="gVal" name="gVal">
		<div/>
		<label for="bVal">B</label>
		<input type="text" id="bVal" name="bVal">
		<div/>
		<br>
		<input type="submit">
	</form>
	<p>
	<h3>
		<a href='/toggleOn'>
			Turn On
		</a>
	</h3>
	<h3>
		<a href='/mlTemp'>
			Predict Temperature
		</a>
	</h3>
	<img src='static/fig.png'></img>
</body>
</html>
